
 :root {
    font-size: 1.14vmax;
    --main-navy: #2F3943;
    --main-teal: #1D9EA6;
    --main-orange: #FF6600;
    --main-grey: #444D56;
    
}
* {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    -webkit-overflow-scrolling: touch;
    padding: 0px;
    margin: 0px;
    font-family: "Product Sans";
    overflow-wrap: break-word;
    font-style: normal;
    overflow-wrap: break-word;
}
body,
html  {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    overflow-x: hidden;
}
a {
    background-color: transparent;
    color: #3e3e3e;
    text-decoration: none;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Product Sans Regular'), url('../fonts/product-sans/ProductSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Product Sans Medium'), url('../fonts/product-sans/ProductSans-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Product Sans Bold'), url('../fonts/product-sans/ProductSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Product Sans Black'), url('../fonts/product-sans/ProductSans-Black.woff') format('woff');
}



.main-app-container {
    display: flex;
}

.page-main-container {
    padding: 2em 1em;
    box-sizing: border-box;
    position: relative;
}
.section-header-text {
    margin: 0.7em 0;
    font-weight: 600;
}


/* progress ticks */
.progress-bar-container {
	position: relative;
    margin-bottom: 5em;
}
.progress-float-right {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 21em;
    grid-gap: 2em;
    position: absolute;
    right: 2em;
}
.progress-item {
    border-radius: 50%;
    border: 3px solid var(--main-teal);
    background: #ffffff;
    height: 1em;
    width: 1em;
    z-index: 1;
}
.progress-item.staged {
    background: var(--main-teal);
}
.progress-tick {
    height: 0.7em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}
.progress-line {
    position: absolute;
    width: 99%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    border: 2px solid var(--main-teal);
}

.progress-tick-1{
	fill: #ffffff;
	stroke: #ffffff;
	stroke-miterlimit:10;
	stroke-width:17.01px;
}
.progress-item.router-link-active{
    background: var(--main-teal)
}
.router-link-exact-active > progress-tick{
    display: none
}
/* default button */
.default-button {
    font-size: 0.9rem;
    background-color: var(--main-teal);
    min-width: 7em;
    border: 2px solid var(--main-teal);
    color: #ffffff;
    outline: none;
    border-radius: 0.22em;
    font-weight: 700;
    line-height: 2.3em;
}
.default-button:hover{
    opacity: 0.8;
} 
.default-button:active{
    opacity: 1;
    background: #ffffff;
    color: var(--main-teal)
} 



/* background colors */
.orange-button, .filter-input > button.active{
    background: var(--main-orange);
    border-color: var(--main-orange);
}
.orange-button:active{
    background: #ffffff;
    color: var(--main-orange);
}
.navy-button{
    background: var(--main-navy);
    border-color: var(--main-navy);
}
.navy-button:active{
    background: #ffffff;
    color: var(--main-navy);
}
.grey-button{
    background: var(--main-grey);
    border-color: var(--main-grey);
}
.grey-button:active{
    background: #ffffff;
    color: var(--main-grey);
}



/* search input */

.search-input, .inline-search-input, .filter-input{
    background: var(--main-teal);
    border-radius: 0.22em;
    display: grid;
    grid-template-columns: 10fr 1fr;
    position: relative;
}
.search-input input, .inline-search-input > input, .filter-input input {
    font-size: 0.9rem;
    line-height: 2.54em;
    background: #ffff;
    width: 100%;
    border: 2px solid var(--main-teal);
    color: var(--main-navy);
    outline: none;
    box-sizing: border-box;
    padding: 0 0.6em;
    border-radius: 0.22em;
}
.search-input > button, .filter-input > button {
    font-size: 0.9rem;
    line-height: 2.54em;
    background: var(--main-teal);
    width: 6.5em;
    border: 2px solid var(--main-teal);
    color: #ffffff;
    outline: none;
    border-radius: 0.22em;
    font-weight: 700;
}
.search-input > button:hover, .filter-input > button:hover  {
    opacity: 0.7;
}
.search-input > button:active, .filter-input > button:active {
    background: #ffffff;
    opacity: 1;
    color: var(--main-teal);
}
.inline-search-input {
    display: block;
    border: 2px solid transparent;
    background: transparent;
}
.search-input-icon-1{
    fill:var(--main-orange);
    stroke:var(--main-orange);
    stroke-miterlimit:10;
}
.inline-search-input svg{
    position: absolute;
    height: 1.1em;
    right: 0.8em;
    transform: translateY(-50%);
    top: 49%;
}


/* date input */
.date-input-container {
    display: grid;
    grid-template-columns: 1fr 3em 1fr;
    border: 2px solid transparent;
    border-radius: 0.22em;
    position: relative;
}
.date-input {
    position: relative;
}
.date-input input {
    font-size: 0.9rem;
    line-height: 2.54em;
    background: #ffff;
    border: 2px solid var(--main-teal);
    color: var(--main-navy);
    outline: none;
    box-sizing: border-box;
    padding: 0 0.6em;
    border-radius: 0.22em;
    width: 100%;
        /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
}
.date-input svg {
    position: absolute;
    height: 1.1em;
    right: 0.8em;
    transform: translateY(-50%);
    top: 49%;
}
.date-input-icon-1{
    fill:var(--main-orange);
    stroke:var(--main-orange);
    stroke-miterlimit:10;
}
.date-input-container span{
    font-size: 0.9rem;
    line-height: 2.54em;
    background: #ffff;
    border: 2px solid transparent;
    color: var(--main-navy);
    outline: none;
    box-sizing: border-box;
    padding: 0 0.6em;
}


/* filter input */

.filter-input-container {
    margin: auto;
    width: 40em;
}
.filter-input {
    background: transparent;
    grid-gap: 1em;
}




/* bottom action buttons */
.bottom-action-buttons {
    margin: 3em auto;
    width: 60em;
    height: 2.3em;
}
.bottom-action-buttons-float-left {
    float: left;
}
.bottom-action-buttons-float-right {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}



