<template>
  <div class="page-main-container">
    <div class="progress-bar-container">
        <ul class="progress-float-right">
				<router-link tag="a" to="/" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage2" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage3" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage4" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage5" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage6" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage8" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
            <hr class="progress-line">
        </ul>
    </div>
	<div class="filter-input-container">
		<div class="filter-input">
            <div>
			<input placeholder="Enter filter text here" type="text">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 57.97"><path class="search-input-icon-1" d="M54.66,52.39,41.1,38.29a23,23,0,1,0-4.42,4.05L50.34,56.55a3,3,0,1,0,4.32-4.16ZM23.5,6.5a17,17,0,1,1-17,17A17,17,0,0,1,23.5,6.5Z"/></svg>
			

            </div>
			<button @click="showFilterPopup = !showFilterPopup" v-bind:class="{ active: showFilterPopup }">Filter</button>
		</div>
	</div>
	<div class="inline-table-container">
		<table style="width:100%" class="inline-table">
            <tr class="inline-table-header">
                <th>Patient Name</th>
                <th>Report ID</th>
                <th>Type/ Audit</th>
                <th>Analysis Date</th>
                <th>Run By</th>
                <th>Change Log</th>
                <th>Status</th>
            </tr>
            <tr class="inline-table-data" v-for="patient in patientList">
                <td>{{patient.name}}</td>
                <td>{{patient.id}}</td>
                <td>{{patient.type}}</td>
                <td>{{patient.date}}</td>
                <td>{{patient.admin}}</td>
                <td>{{patient.log}}</td>
                <td v-if="patient.progress">{{patient.status}}</td>
                <td v-else-if="patient.complete" class="prog-comp">Complete</td>
                <td v-else class="prog-error">Error</td>
            </tr>
        </table>
	</div>
	<div class="bottom-action-buttons">
		<div class="bottom-action-buttons-float-left">
			<router-link tag="button" to="/paymentAuditPage2" class="default-button orange-button">Back</router-link>
		</div>
		<div class="bottom-action-buttons-float-right">
			<button class="default-button orange-button">Cancel</button>
			<button class="default-button">Save</button>
			<router-link tag="button" to="/paymentAuditPage6" class="default-button">Next</router-link>
		</div>


	</div>
    <div class="filter-poppup-container" v-if="showFilterPopup">
	<div class="inline-text-input-container">
		<div class="inline-text-input-label">
			<h3>Type / Audit</h3>
		</div>
		<div class="inline-text-input">
			<div class="inline-select-input">
                <select>
                    <option value="">select</option>
                    <option value="optionA">Option A</option>
                    <option value="optionB">Option B</option>
                    <option value="optionC">Option C</option>
                    <option value="optionD">Option D</option>
                </select>
            </div>
		</div>
	</div>
	<div class="inline-text-input-container">
		<div class="inline-text-input-label">
			<h3>Analysis date range</h3>
		</div>
		<div class="inline-text-input">
			<div class="date-input-container">
                <div class="date-input">
				    <input type="date">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 513 513"><path class="date-input-icon-1" d="M467.5,60.5h-15v-15a45,45,0,0,0-90,0v15h-60v-15a45,45,0,0,0-90,0v15h-62v-15a45,45,0,0,0-90,0v15h-15a45.05,45.05,0,0,0-45,45v362a45.05,45.05,0,0,0,45,45h422a45.05,45.05,0,0,0,45-45v-362A45.05,45.05,0,0,0,467.5,60.5Zm-75-15a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm-150,0a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm-152,0a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm392,422a15,15,0,0,1-15,15H45.5a15,15,0,0,1-15-15v-255h452Zm0-285H30.5v-77a15,15,0,0,1,15-15h15v15a45,45,0,0,0,90,0v-15h62v15a45,45,0,0,0,90,0v-15h60v15a45,45,0,0,0,90,0v-15h15a15,15,0,0,1,15,15Z"/><path class="date-input-icon-1" d="M437.5,242.5H75.5a15,15,0,0,0-15,15v180a15,15,0,0,0,15,15h362a15,15,0,0,0,15-15v-180A15,15,0,0,0,437.5,242.5Zm-287,180h-60v-60h60Zm0-90h-60v-60h60Zm92,90h-62v-60h62Zm0-90h-62v-60h62Zm90,90h-60v-60h60Zm0-90h-60v-60h60Zm90,90h-60v-60h60Zm0-90h-60v-60h60Z"/></svg>
                </div>
                <span class="date-input-text">To</span>
                <div class="date-input">
				    <input type="date">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 513 513"><path class="date-input-icon-1" d="M467.5,60.5h-15v-15a45,45,0,0,0-90,0v15h-60v-15a45,45,0,0,0-90,0v15h-62v-15a45,45,0,0,0-90,0v15h-15a45.05,45.05,0,0,0-45,45v362a45.05,45.05,0,0,0,45,45h422a45.05,45.05,0,0,0,45-45v-362A45.05,45.05,0,0,0,467.5,60.5Zm-75-15a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm-150,0a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm-152,0a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm392,422a15,15,0,0,1-15,15H45.5a15,15,0,0,1-15-15v-255h452Zm0-285H30.5v-77a15,15,0,0,1,15-15h15v15a45,45,0,0,0,90,0v-15h62v15a45,45,0,0,0,90,0v-15h60v15a45,45,0,0,0,90,0v-15h15a15,15,0,0,1,15,15Z"/><path class="date-input-icon-1" d="M437.5,242.5H75.5a15,15,0,0,0-15,15v180a15,15,0,0,0,15,15h362a15,15,0,0,0,15-15v-180A15,15,0,0,0,437.5,242.5Zm-287,180h-60v-60h60Zm0-90h-60v-60h60Zm92,90h-62v-60h62Zm0-90h-62v-60h62Zm90,90h-60v-60h60Zm0-90h-60v-60h60Zm90,90h-60v-60h60Zm0-90h-60v-60h60Z"/></svg>
                </div>
			</div>
		</div>
	</div>
	<div class="inline-text-input-container">
		<div class="inline-text-input-label">
			<h3>Run by?</h3>
		</div>
		<div class="inline-text-input">
			<div class="inline-select-input">
                <select>
                    <option value="">select</option>
                    <option value="optionA">Option A</option>
                    <option value="optionB">Option B</option>
                    <option value="optionC">Option C</option>
                    <option value="optionD">Option D</option>
                </select>
            </div>
		</div>
	</div>
    </div>
    <!-- <div class="overlay" v-if="showFilterPopup">

    </div> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapMutations} from 'vuex'
import HelloWorld from '@/components/HelloWorld.vue'
export default {
  name: 'PaymentAudit',
    data() {
      	return {
            patientList: [
                {name:"Joe Blow",id:115102018,type:"Medicare Payment",date:"11/10/2018 – 3:30pm",admin:"Adam Marks",log:"Not reviewed",status:"80%",progress:true,error:false,complete:false},
                {name:"Lin White",id:116102018,type:"Medicare Payment",date:"11/10/2018 – 11:30am",admin:"Harry Houser",log:"Not reviewed",status:"60%",progress:true,error:false,complete:false},
                {name:"Chris Fairchild",id:117102018,type:"Hospice Payment",date:"11/10/2018 – 11:30am",admin:"Mike Miller",log:"Not reviewed",status:"80%",progress:true,error:false,complete:false},
                {name:"Trish Mathews",id:118102018,type:"Quality of Care",date:"11/8/2018 – 5:00pm",admin:"Casey Christopher",log:"Not reviewed",status:"80%",progress:false,error:true,complete:false},
                {name:"Oliver Twist",id:119102018,type:"Admissions Audit",date:"11/9/2018 – 1:00pm",admin:"Bridget Brown",log:"No changes",status:"80%",progress:false,error:false,complete:true},
            ],
        showFilterPopup: false
        }
    },
  components: {
    HelloWorld
  },
  props: {
    placeholder: ''
  },
computed: {
	...mapGetters([
        // 'paymentSteps',
    ]),
  },
    methods: {
        onSubmit: function() {
            // Do some stuff here
            console.log("fire")
            history.back();
        }
    }
};
</script>
<style scoped>

/* bottom action buttons */
.bottom-action-buttons {
    margin: 3em auto;
    width: 60em;
}
.bottom-action-buttons-float-left {
    float: left;
}
.bottom-action-buttons-float-right {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

/* inline text input */

.inline-text-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.5em auto;
    width: 100%;
    grid-gap: 1em;
}
.inline-text-input-label h3, .inline-file-input-label h3 {
    background: #ffff;
    width: 100%;
    margin: 2px 0;
    box-sizing: border-box;
    padding: 0;
    border-radius: 0.22em;
    text-align: left;
    color: var(--main-orange);
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.5em;
}
.inline-select-input > select {
    width: 24em;
}

/* report pills */

.report-pills-container {
    list-style: none;
    margin: 1em 0;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
}
.report-pills-item {
    background: #ececec;
    line-height: 2.8em;
    font-size: 0.7rem;
    border-radius: 5em;
    display: grid;
    grid-template-columns: 1fr 2.7em;
    padding-left: 0.9em;
    box-sizing: border-box;
    text-align: left;
    font-weight: 600;
}

.remove-report-pill-button {
    background: var(--main-teal);
    box-sizing: border-box;
    margin: 0.3em;
    border-radius: 50%;
    outline: none;
    border: none;
}


/* inline analysis checkbox input */

.inline-analysis-checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    grid-gap: 2em;
    margin: 3em auto;
    width: 60em;
}
.inline-analysis-checkbox-item {
    display: grid;
    grid-template-columns: 2em 5fr;
    grid-gap: 0.5em;
}
.inline-analysis-checkbox-text {
    color: var(--main-teal);
    font-size: 0.9em;
    font-weight: 700;
    text-align: left;
}
.inline-analysis-checkbox-text span{
    font-weight: 500;
    color: var(--main-grey);
}




/* inline select input */


.inline-select-input select {
    font-size: 0.9rem;
    background-color: var(--main-teal);
    min-width: 7em;
    border: 2px solid var(--main-teal);
    color: #ffffff;
    outline: none;
    border-radius: 0.22em;
    font-weight: 700;
    line-height: 2.3em;
    height: 2.8em;
}



/* inline file input */

.inline-file-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em auto;
    width: 60em;
    grid-gap: 1em;
}
.inline-file-input {
    display: grid;
    grid-template-columns: 1fr 6em;
    grid-gap: 1em;
}

/* inline table */

.inline-table-container {
    width: 100%;
    border-radius: 0.3em;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 3em;
}
.inline-table-header {
    background: var(--main-navy);
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
}
.inline-table-header th {
    font-weight: 600;
}
.inline-table-container td, .inline-table-container th {
    line-height: 1.5em;
    text-align: left;
    padding: 0.5em;
}

.inline-table-data {
    font-size: 0.9rem;
    line-height: 1.5em;
}

.inline-table-data:nth-of-type(even) {
    background: #ececec;
}

.inline-table-data:nth-of-type(odd) {
    background: #e4e4e4;
}
.prog-comp {
    color: var(--main-teal);
    font-weight: 700;
}
.prog-error {
    color: var(--main-orange);
    font-weight: 700;
}

/* filter poppup */
.filter-poppup-container {
    position: absolute;
    background: #ffffff;
    top: 9.6em;
    transform: translateX(-50%);
    left: 50%;
    padding: 2em;
    box-sizing: border-box;
    width: 40em;
    border-radius: 0.23em;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.18);
}



.date-input-container {
    grid-template-columns: 1fr 3em 1fr;
}
.date-input {
    width: 9.3em;
}
.date-input input {
    font-size: 0.9rem;
    line-height: 2.54em;
    background: #ffff;
    border: 2px solid var(--main-teal);
    color: var(--main-navy);
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.6em;
    border-radius: 0.22em;
    width: 100%;
}
.filter-input > div {
    position: relative;
}
.filter-input svg {
    position: absolute;
    height: 1.1em;
    right: 0.8em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 49%;
}
/* inline select input */


.inline-select-input select {
    font-size: 0.9rem;
    background-color: var(--main-teal);
    min-width: 7em;
    border: 2px solid var(--main-teal);
    color: #ffffff;
    outline: none;
    border-radius: 0.22em;
    font-weight: 700;
    line-height: 2.3em;
    height: 2.8em;
}


</style>
