<template>
  <div class="page-main-container">
    <div class="progress-bar-container">
        <ul class="progress-float-right">
				<router-link tag="a" to="/" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage2" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage3" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage4" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage5" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage6" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage8" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
            <hr class="progress-line">
        </ul>
    </div>
		<h1 class="section-header-text">Upload your documents to be analyzed...</h1>

	<div class="inline-file-input-container">
		<div class="inline-file-input-label">
			<h3>Upload FIles</h3>
		</div>
		<!-- <div class="inline-file-input">
			<div class="inline-search-input">
				<input type="file" id="avatar" name="avatar"  multiple>
            </div>
		</div> -->

						<div class="header-search-input-container">
							<div class="search-input">
								<input type="file" id="avatar" name="avatar"  multiple>
								<button v-on:click="selectedUploads = true">Upload</button>
							</div>
						</div>
	</div>
	<div class="bottom-action-buttons">
		<div class="bottom-action-buttons-float-left">
			<router-link tag="button" to="/paymentAuditPage2" class="default-button orange-button">Back</router-link>
		</div>
		<div v-if="selectedUploads" class="bottom-action-buttons-float-right">
			<button class="default-button  orange-button">Cancel</button>
			<button class="default-button">Save</button>
			<router-link tag="button" to="/paymentAuditPage5" class="default-button">Next</router-link>
		</div>


	</div>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapMutations} from 'vuex'
import HelloWorld from '@/components/HelloWorld.vue'
export default {
  name: 'PaymentAudit',
    data() {
      	return {
              selectedUploads: '',
    paymentSteps: [
      {name:"payer",status:true},
      {name:"reports",status:true},
      {name:"analysis",status:true},
      {name:"documents",status:true},
      {name:"summary",status:true}
	],
	
		  insurerInputCards: [
			  {value:"medicare",logo:require("../assets/img/medicaid_logo.png")},
			  {value:"medicaid",logo:require("../assets/img/medicare_logo.png")},
			  {value:"managed-care",logo:require("../assets/img/managedcare_logo.png")},
		  ],
          }
    },
  components: {
    HelloWorld
  },
  props: {
    placeholder: ''
  },
computed: {
	...mapGetters([
        // 'paymentSteps',
    ]),
  },
    methods: {
        onSubmit: function() {
            // Do some stuff here
            console.log("fire")
            history.back();
        }
    }
};
</script>
<style scoped>

/* bottom action buttons */
.bottom-action-buttons {
    margin: 3em auto;
    width: 60em;
}
.bottom-action-buttons-float-left {
    float: left;
}
.bottom-action-buttons-float-right {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

/* inline text input */

.inline-text-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em auto;
    width: 60em;
    grid-gap: 1em;
}
.inline-text-input-label h3, .inline-file-input-label h3 {
    background: #ffff;
    width: 100%;
    margin: 2px 0;
    box-sizing: border-box;
    padding: 0 0.6em;
    border-radius: 0.22em;
    text-align: left;
    color: var(--main-orange);
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.5em;
}


/* report pills */

.report-pills-container {
    list-style: none;
    margin: 1em 0;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
}
.report-pills-item {
    background: #ececec;
    line-height: 2.8em;
    font-size: 0.7rem;
    border-radius: 5em;
    display: grid;
    grid-template-columns: 1fr 2.7em;
    padding-left: 0.9em;
    box-sizing: border-box;
    text-align: left;
    font-weight: 600;
}

.remove-report-pill-button {
    background: var(--main-teal);
    box-sizing: border-box;
    margin: 0.3em;
    border-radius: 50%;
    outline: none;
    border: none;
}


/* inline analysis checkbox input */

.inline-analysis-checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    grid-gap: 2em;
    margin: 3em auto;
    width: 60em;
}
.inline-analysis-checkbox-item {
    display: grid;
    grid-template-columns: 2em 5fr;
    grid-gap: 0.5em;
}
.inline-analysis-checkbox-text {
    color: var(--main-teal);
    font-size: 0.9em;
    font-weight: 700;
    text-align: left;
}
.inline-analysis-checkbox-text span{
    font-weight: 500;
    color: var(--main-grey);
}




/* inline select input */


.inline-select-input select {
    font-size: 0.9rem;
    background-color: var(--main-teal);
    min-width: 7em;
    border: 2px solid var(--main-teal);
    color: #ffffff;
    outline: none;
    border-radius: 0.22em;
    font-weight: 700;
    line-height: 2.3em;
    height: 2.8em;
}



/* inline file input */

.inline-file-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em auto;
    width: 60em;
    grid-gap: 1em;
}
.inline-file-input {
    display: grid;
    grid-template-columns: 1fr 6em;
    grid-gap: 1em;
}

</style>
