<template>
  <div class="page-main-container">
    <div class="progress-bar-container">
        <ul class="progress-float-right">
				<router-link tag="a" to="/" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage2" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage3" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage4" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage5" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage6" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage8" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
            <hr class="progress-line">
        </ul>
    </div>
	<div class="payer-cards-container">
		<h1 class="section-header-text">Which payer is this payment audit being completed for?</h1>
		<ul class="payer-cards-grid">
			<li class="section-grid-item" v-for="item in insurerInputCards" :key="item.value">
        		<input class="payer-input" type="radio" name="payer" :value="item.value" v-model="payer" :id="item.value">
        		<div class="section-grid-item-background"></div>
        		<img class="payer-input-logo" :src="item.logo" alt="">
    		</li>
		</ul>
	</div>
	<div class="inline-text-input-container">
		<div class="inline-text-input-label" v-if="payer == 'managed-care'">
			<h3>Which Insurance Payer?</h3>
		</div>
		<div class="inline-text-input" v-if="payer == 'managed-care'">
			<div class="inline-search-input">
				<input placeholder="Search Insurance Payer here" type="text" list="payers" v-model="selected">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 57.97"><path class="search-input-icon-1" d="M54.66,52.39,41.1,38.29a23,23,0,1,0-4.42,4.05L50.34,56.55a3,3,0,1,0,4.32-4.16ZM23.5,6.5a17,17,0,1,1-17,17A17,17,0,0,1,23.5,6.5Z"/></svg>
                    <datalist id="payers">
                        <option value="United Healthcare"></option>
                        <option value="Aetna"></option>
                        <option value="Kaiser"></option>
                        <option value="Cigna"></option>
                        <option value="Blue Cross Blue Shield"></option>
                        <option value="Molina"></option>
                        <option value="Medical Mutual"></option>
                        <option value="Wellpoint"></option>
                    </datalist>    
            </div>
		</div>
	</div>
	<div class="bottom-action-buttons"  v-if="payer == 'medicare'  || payer == 'medicaid'  || selected" >
		<div class="bottom-action-buttons-float-right">
            <span></span>
			<button class="default-button orange-button">Cancel</button>
			<router-link tag="button" to="/paymentAuditPage2" class="default-button">Next</router-link>
		</div>


	</div>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapMutations, mapActions} from 'vuex'
import HelloWorld from '@/components/HelloWorld.vue'
export default {
  name: 'PaymentAudit',
    data() {
      	return {
              payer:[],
              selected:'',
    paymentSteps: [
      {name:"payer",status:true},
      {name:"reports",status:true},
      {name:"analysis",status:true},
      {name:"documents",status:true},
      {name:"summary",status:true}
	],
	
		  insurerInputCards: [
			  {value:"medicare",logo:require("../assets/img/medicaid_logo.png")},
			  {value:"medicaid",logo:require("../assets/img/medicare_logo.png")},
			  {value:"managed-care",logo:require("../assets/img/managedcare_logo.png")},
		  ],
          }
    },
  components: {
    HelloWorld
  },
  props: {
    placeholder: ''
  },
computed: {
	...mapGetters([
        'selectedRoute'
    ]),
  },
    methods: {
        onSubmit: function() {
            // Do some stuff here
            console.log("fire")
            history.back();
        },
          ...mapActions([
      // `mapActions` also supports payloads:
      'updateSelectedRoute' // map `this.incrementBy(amount)` to `this.$store.dispatch('incrementBy', amount)`
    ]),
    }
};
</script>
<style scoped>

/* payer cards */
.payer-cards-grid {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    width: 60em;
    margin: auto;
    padding: 1em 0;
}
.section-grid-item {
    width: 100%;
    height: 11.76em;
    position: relative;
}

.section-grid-item-background {
    height: 100%;
    display: block;
    width: 100%;
    border-radius: 0.23em;
    border: 2px solid var(--main-teal);
    position: absolute;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.24);
}
.payer-input:checked+.section-grid-item-background {
    box-shadow: 0 0 1em 0px #F15A25;
    border: 2px solid var(--main-orange);
}
.payer-input-logo {
    height: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.payer-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
}

/* bottom action buttons */
.bottom-action-buttons {
    margin: 3em auto;
    width: 60em;
    height: 2.3em;
}
.bottom-action-buttons-float-left {
    float: left;
}
.bottom-action-buttons-float-right {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

/* inline text input */

.inline-text-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em auto;
    width: 60em;
    grid-gap: 1em;
}
.inline-text-input-label h3 {
    background: #ffff;
    width: 100%;
    margin: 2px 0;
    box-sizing: border-box;
    padding: 0 0.6em;
    border-radius: 0.22em;
    text-align: left;
    color: var(--main-orange);
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.5em;
}



</style>
