<template>
  <div class="page-main-container">
    <div class="progress-bar-container">
        <ul class="progress-float-right">
				<router-link tag="a" to="/" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage2" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage3" class="progress-item ">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage4" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage5" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage6" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage8" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
            <hr class="progress-line">
        </ul>
    </div>
	<h1 class="section-header-text">Which Application are the reports coming from?</h1>
	<div class="inline-text-input-container">
		<div class="inline-text-input-label">
			<h3>Origin of reports?</h3>
		</div>
		<div class="inline-text-input">
			<div class="inline-search-input">
				<input placeholder="Origin of reports" type="text" v-model="selectedOriginA" @change="updateselectedOrigin(selectedOriginA)" list="origin">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 57.97"><path class="search-input-icon-1" d="M54.66,52.39,41.1,38.29a23,23,0,1,0-4.42,4.05L50.34,56.55a3,3,0,1,0,4.32-4.16ZM23.5,6.5a17,17,0,1,1-17,17A17,17,0,0,1,23.5,6.5Z"/></svg>
                        <datalist id="origin">
                            <option value="Medbuilt"></option>
                            <option value="Homecare Homebase"></option>
                            <option value="Optima"></option>
                            <option value="Hummingbird"></option>
                            <option value="Footprints EMR"></option>
                            <option value="Axxess"></option>
                            <option value="Medical Mutual"></option>
                            <option value="First Hospice"></option>
                            <option value="Point Click Care"></option>
                        </datalist>
            </div>
		</div>
	</div>
	<div class="inline-text-input-container" v-if="selectedOrigin">
		<div class="inline-text-input-label">
			<h3>What is the date service range?</h3>
		</div>
		<div class="inline-text-input">
			<div class="date-input-container">
                <div class="date-input">
				    <input type="date" v-model="fromDate">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 513 513"><path class="date-input-icon-1" d="M467.5,60.5h-15v-15a45,45,0,0,0-90,0v15h-60v-15a45,45,0,0,0-90,0v15h-62v-15a45,45,0,0,0-90,0v15h-15a45.05,45.05,0,0,0-45,45v362a45.05,45.05,0,0,0,45,45h422a45.05,45.05,0,0,0,45-45v-362A45.05,45.05,0,0,0,467.5,60.5Zm-75-15a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm-150,0a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm-152,0a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm392,422a15,15,0,0,1-15,15H45.5a15,15,0,0,1-15-15v-255h452Zm0-285H30.5v-77a15,15,0,0,1,15-15h15v15a45,45,0,0,0,90,0v-15h62v15a45,45,0,0,0,90,0v-15h60v15a45,45,0,0,0,90,0v-15h15a15,15,0,0,1,15,15Z"/><path class="date-input-icon-1" d="M437.5,242.5H75.5a15,15,0,0,0-15,15v180a15,15,0,0,0,15,15h362a15,15,0,0,0,15-15v-180A15,15,0,0,0,437.5,242.5Zm-287,180h-60v-60h60Zm0-90h-60v-60h60Zm92,90h-62v-60h62Zm0-90h-62v-60h62Zm90,90h-60v-60h60Zm0-90h-60v-60h60Zm90,90h-60v-60h60Zm0-90h-60v-60h60Z"/></svg>
                </div>
                <span class="date-input-text">To</span>
                <div class="date-input">
				    <input type="date" v-model="toDate">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 513 513"><path class="date-input-icon-1" d="M467.5,60.5h-15v-15a45,45,0,0,0-90,0v15h-60v-15a45,45,0,0,0-90,0v15h-62v-15a45,45,0,0,0-90,0v15h-15a45.05,45.05,0,0,0-45,45v362a45.05,45.05,0,0,0,45,45h422a45.05,45.05,0,0,0,45-45v-362A45.05,45.05,0,0,0,467.5,60.5Zm-75-15a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm-150,0a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm-152,0a15,15,0,0,1,30,0v60a15,15,0,0,1-30,0Zm392,422a15,15,0,0,1-15,15H45.5a15,15,0,0,1-15-15v-255h452Zm0-285H30.5v-77a15,15,0,0,1,15-15h15v15a45,45,0,0,0,90,0v-15h62v15a45,45,0,0,0,90,0v-15h60v15a45,45,0,0,0,90,0v-15h15a15,15,0,0,1,15,15Z"/><path class="date-input-icon-1" d="M437.5,242.5H75.5a15,15,0,0,0-15,15v180a15,15,0,0,0,15,15h362a15,15,0,0,0,15-15v-180A15,15,0,0,0,437.5,242.5Zm-287,180h-60v-60h60Zm0-90h-60v-60h60Zm92,90h-62v-60h62Zm0-90h-62v-60h62Zm90,90h-60v-60h60Zm0-90h-60v-60h60Zm90,90h-60v-60h60Zm0-90h-60v-60h60Z"/></svg>
                </div>
			</div>
		</div>
	</div>
	<div class="inline-text-input-container" v-if="fromDate && toDate">
		<div class="inline-text-input-label">
			<h3>What reports are included?</h3>
		</div>
		<div class="inline-text-input">
			
							<div class="search-input">
								<input v-model="newReport"  placeholder="Add report here" type="text" list="reports">
								<button @click="addReport(newReport)" v-on:click="newReport = ''">Add</button>
                                 <datalist id="reports">
                            <option value="Medication Change Report"></option>
                            <option value="Medication Reconcilian Report"></option>
                            <option value="Medication Report (Current and Active)"></option>
                            <option value="Medication Orders Report"></option>
                        </datalist>
                           </div>
            <ul class="report-pills-container">
                <li class="report-pills-item" v-for="item in getReports">
                    <p class="report-pill-label">{{item}}</p>
                    <button class="remove-report-pill-button" @click="removeReport(item)">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path class="close-icon-fill-1" d="M20.21.79a1,1,0,0,0-1.42,0L10.5,9.09,2.21.79A1,1,0,0,0,.79,2.21l8.3,8.29L.79,18.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l8.29-8.3,8.29,8.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42l-8.3-8.29,8.3-8.29A1,1,0,0,0,20.21.79Z"/></svg>
                    </button>
                </li>
            </ul>
		</div>
	</div>

	<div class="bottom-action-buttons">
		<div class="bottom-action-buttons-float-left">
			<button @click="goBack()" class="default-button orange-button">Back</button>
		</div>
		<div v-if="getReports[0]" class="bottom-action-buttons-float-right">
            <span></span>
			<button class="default-button orange-button">Cancel</button>
			<router-link tag="button" to="/paymentAuditPage3" class="default-button">Next</router-link>
		</div>


	</div>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapMutations, mapActions} from 'vuex'
import HelloWorld from '@/components/HelloWorld.vue'
export default {
  name: 'PaymentAudit',
    data() {
      	return {
              payer:[],
              selected:'',
              fromDate: '',
              toDate: '',
              selectedOriginA: '',
              newReport: '',
    paymentSteps: [
      {name:"payer",status:true},
      {name:"reports",status:true},
      {name:"analysis",status:true},
      {name:"documents",status:true},
      {name:"summary",status:true}
	],
	
		  insurerInputCards: [
			  {value:"medicare",logo:require("../assets/img/medicaid_logo.png")},
			  {value:"medicaid",logo:require("../assets/img/medicare_logo.png")},
			  {value:"managed-care",logo:require("../assets/img/managedcare_logo.png")},
		  ],
          }
    },
  components: {
    HelloWorld
  },
  props: {
    placeholder: ''
  },
computed: {
	...mapGetters([
        'selectedOrigin',
        'getReports'
    ]),
  },
    methods: {
        goBack: function() {
            // Do some stuff here
            console.log("fire")
            history.back();
        },
          ...mapActions([
      // `mapActions` also supports payloads:
      'updateselectedOrigin',
      'addReport',
      'removeReport'
    ]),
    }
};
</script>
<style scoped>


/* inline text input */

.inline-text-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em auto;
    width: 60em;
    grid-gap: 1em;
}
.inline-text-input-label h3 {
    background: #ffff;
    width: 100%;
    margin: 2px 0;
    box-sizing: border-box;
    padding: 0 0.6em;
    border-radius: 0.22em;
    text-align: left;
    color: var(--main-orange);
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.5em;
}


/* report pills */

.report-pills-container {
    list-style: none;
    margin: 1em 0;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
}
.report-pills-item {
    background: #ececec;
    line-height: 2.8em;
    height: 2.8em;
    font-size: 0.7rem;
    border-radius: 5em;
    display: grid;
    grid-template-columns: 1fr 2.7em;
    padding-left: 0.9em;
    box-sizing: border-box;
    text-align: left;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}

.remove-report-pill-button:hover {
    opacity: 0.9;
}
.remove-report-pill-button {
    background: var(--main-orange);
    box-sizing: border-box;
    margin: 0.3em;
    border-radius: 50%;
    outline: none;
    border: none;
    height: 2.1em;
}
.remove-report-pill-button:active{
    opacity: 1;
    background: #ffffff;
}
.remove-report-pill-button svg {
    width: 1em;
    display: block;
    margin: auto;
}
.close-icon-fill-1{
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}
.remove-report-pill-button:active .close-icon-fill-1{
    fill: var(--main-orange);
    stroke: var(--main-orange);
    stroke-miterlimit: 10;
}
.report-pill-label{
    height: 2.8em;
    text-overflow: ellipsis;
    overflow: hidden;
}

</style>
