<template>
  <div class="page-main-container">
    <div class="progress-bar-container">
        <ul class="progress-float-right">
				<router-link tag="a" to="/" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage2" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage3" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage4" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage5" class="progress-item staged">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="/paymentAuditPage6" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
				<router-link tag="a" to="" class="progress-item">
                	<svg class="progress-tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.05 274.54"><polygon class="progress-tick-1" points="116.71 210.17 38.2 131.66 12.03 157.83 116.71 262.51 341.03 38.2 314.86 12.03 116.71 210.17"/></svg>
				</router-link>
            <hr class="progress-line">
        </ul>
    </div>
		
		<h1 class="section-header-text">Results Summary</h1>
        <ul class="results-summary-container">
            <li class="results-summary-item" v-for="item in reportItems">
                <a class="results-summary-item-header"  href="#"  @click="item.activeStat = !item.activeStat">
                    <div class="results-summary-sub-item-label">
                        <img :src="item.image" alt="diagnosis">
                        <h4>{{item.name}}</h4>
                    </div>
                    <p>{{item.completion}}</p>
                    <button>
                        <span v-if="item.activeStat">Show more</span>
                        <span v-else>Show less</span>
                        <svg  v-bind:class="{active: item.activeStat}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 289.05 492"><path class="show-more-icon-1" d="M281.2,226.8,62.25,7.86a27,27,0,0,0-38.06,0L8.06,24A27,27,0,0,0,8.06,62L191.92,245.9,7.86,430a27,27,0,0,0,0,38.07L24,484.14a27,27,0,0,0,38.07,0L281.2,265a27.16,27.16,0,0,0,0-38.2Z"/></svg>
                    </button>
                </a>
                <ul class="results-summary-sub-container"  v-bind:class="{active: item.activeStat}">
                    <li class="results-summary-sub-item">
                        <h4>{{item.header}}</h4>
                        <p>{{item.detail}}</p>
                        <div class="results-summary-sub-item-content">
                            <h4>{{item.subHeader}}</h4>
                            <p>{{item.subDetail}}</p>
                            <img :src="item.reportGraphic" alt="report-graphic">
                        </div>
                <ul class="results-summmary-float">
                        <button>
                            <svg version="1.1" id="Icons_Pencil" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 96 96" style="enable-background:new 0 0 96 96;" xml:space="preserve">
<path class="result-float-icons-fill" d="M25,71.1c2,2,2,5.1,0,7.1L16.5,81L15,79.5l2.8-8.5C19.9,69.1,23,69.1,25,71.1z M64.3,18.9L14.3,69L8,88
	l19.1-6.3l50-50"/>
<path class="result-float-icons-fill" d="M86.9,16.2l-7.1-7.1c-1.6-1.6-4.1-1.6-5.7,0l-7,7l12.7,12.7l7-7C88.5,20.3,88.5,17.8,86.9,16.2z"/>
</svg>
                        </button>
                        <button>
                            <svg version="1.1" id="Icons_Checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 96 96" style="enable-background:new 0 0 96 96;" xml:space="preserve">
<path class="result-float-icons-fill" d="M86.1,15.8L34.9,64.2L10.3,39l-8.5,8.1l32.7,33.6l8.6-8l51.1-48.5L86.1,15.8z"/>
</svg>
                        </button>
                        <button>
                            <svg version="1.1" id="Icons_Close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 96 96" style="enable-background:new 0 0 96 96;" xml:space="preserve">
<path class="result-float-icons-fill" d="M83.4,21.1l-8.5-8.5L48,39.5L21.1,12.6l-8.5,8.5L39.5,48L12.6,74.9l8.5,8.5L48,56.5l26.9,26.9l8.5-8.5L56.5,48
	L83.4,21.1z"/>
</svg>

                        </button>
                        <button>
                            <svg version="1.1" id="Icons_Marketing" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 96 96" style="enable-background:new 0 0 96 96;" xml:space="preserve">
<circle class="result-float-icons-fill" cx="27" cy="26" r="12"/>
<path class="result-float-icons-fill" d="M80.7,15.9L47,24.3v9.6l6.7,1.7l0.7,2.9c-0.7,0.2-1.3,0.6-1.7,1.1l-9.7,9.7h-4.5c-2.2-6.3-9-9.6-15.3-7.4
	c-4.7,1.6-7.9,6-8.1,11v29H39V59.3h6c1.3,0,2.6-0.5,3.5-1.5l11.2-11.2c1.2-1.2,1.7-3,1.3-4.7l3,0.7h0.4c0.5,0,0.9-0.2,1.2-0.6
	l2.7-3.1l12.4,3.1c0.6,0.1,1.2-0.3,1.3-1c0,0,0-0.1,0-0.1V16.9c0-0.6-0.5-1.1-1.1-1.1C80.8,15.8,80.7,15.8,80.7,15.9z M64.2,40.5
	l-4.9-1.2c-0.8-0.7-1.8-1.1-2.8-1.1l-0.5-2.1l9.9,2.4L64.2,40.5z"/>
<path class="result-float-icons-fill" d="M43.5,33.2c0.8,0,1.5-0.7,1.5-1.5v-6c0-0.8-0.7-1.5-1.5-1.5c-0.8,0-1.5,0.7-1.5,1.5v6
	C42.1,32.6,42.7,33.2,43.5,33.2z"/>
</svg>
                        </button>
                        <button>
                            <svg version="1.1" id="Icons_Fax" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 96 96" style="enable-background:new 0 0 96 96;" xml:space="preserve">
<rect x="24" y="67.5" class="result-float-icons-fill" width="48" height="19"/>
<path class="result-float-icons-fill" d="M66,38.5v10H30v-34h22v14h14V38.5z M58,14.9l6.9,7.6H58V14.9z M14,52.5c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4
	S16.2,52.5,14,52.5z M88,38.5H72V21.3L60.3,8.5H24v30H8c-2.2,0-4,1.8-4,4v40c0,2.2,1.8,4,4,4h12v-23h56v23h12c2.2,0,4-1.8,4-4v-40
	C92,40.3,90.2,38.5,88,38.5z"/>
<rect x="34" y="32.5" class="result-float-icons-fill" width="28" height="4"/>
<rect x="34" y="24.5" class="result-float-icons-fill" width="14" height="4"/>
<rect x="34" y="40.5" class="result-float-icons-fill" width="28" height="4"/>
</svg>

                        </button>
                </ul>

                    </li>
                </ul>
            </li>

        </ul>







	<div class="bottom-action-buttons">
		<div class="bottom-action-buttons-float-left">
			<router-link tag="button" to="/paymentAuditPage2" class="default-button orange-button">Back</router-link>
		</div>
		<div class="bottom-action-buttons-float-right">
			<button class="default-button">Cancel</button>
			<button class="default-button">Save</button>
			<router-link tag="button" to="/paymentAuditPage6" class="default-button">Next</router-link>
		</div>


	</div>
    <div class="default-popup-container" v-if="false">
        <h4>Text</h4>
        <textarea name="message"></textarea>
        <div class="popup-bottom-buttons-container">
		<div class="bottom-action-buttons-float-left">
			<button class="default-button">Cancel</button>
		</div>
		<div class="bottom-action-buttons-float-right">
			<button class="default-button orange-button">Cancel</button>
			<button class="default-button">Save for later</button>
			<button class="default-button">Save</button>
		</div>

        </div>
    </div>

    
    <div class="default-popup-container" v-if="false">
        <h4>Message</h4>
        <div class="default-popup-chat-grid">
            <div class="default-popup-chat-inputs-container">
                <div class="inline-text-input">
                    <div class="inline-search-input">
                        <input placeholder="Name" type="text">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 57.97"><path class="search-input-icon-1" d="M54.66,52.39,41.1,38.29a23,23,0,1,0-4.42,4.05L50.34,56.55a3,3,0,1,0,4.32-4.16ZM23.5,6.5a17,17,0,1,1-17,17A17,17,0,0,1,23.5,6.5Z"/></svg>
                    </div>
                </div>
                <div class="inline-text-input">
                    <div class="inline-search-input">
                        
        <textarea name="message"></textarea>
                        </div>
                </div>
		<div class="bottom-action-buttons-float-left">
			<button class="default-button orange-button">Cancel</button>
			<button class="default-button">Save</button>
		</div>
            </div>
            <div class="line-divder"></div>
            <div class="default-popup-chat-inputs-container">
                <h4>Conversation with Nancy Nurse</h4>
                <ul class="default-popup-side-chats-container">
                    <li class="default-popup-side-chat-item" v-for="n in 1">
                        <p>The patient's labs are border line; do these results support our case for the need for additional skilled and clinical care?</p>
                        <span class="default-popup-side-chat-meta">Mon 11:15a - Jane Doe</span>
                        <span class="default-popup-side-chat-clear"></span>
                    </li>
                    <li class="default-popup-side-chat-item recieved-chat" v-for="n in 1">
                        <p>The patient's labs are border line; do these results support our case for the need for additional skilled and clinical care?</p>
                        <span class="default-popup-side-chat-meta">Mon 11:15a - Jane Doe</span>
                        <span class="default-popup-side-chat-clear"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapMutations} from 'vuex'
import HelloWorld from '@/components/HelloWorld.vue'
export default {
  name: 'PaymentAudit',
    data() {
      	return {
    paymentSteps: [
      {name:"payer",status:true},
      {name:"reports",status:true},
      {name:"analysis",status:true},
      {name:"documents",status:true},
      {name:"summary",status:true}
	],
	
		  insurerInputCards: [
			  {value:"medicare",logo:require("../assets/img/medicaid_logo.png")},
			  {value:"medicaid",logo:require("../assets/img/medicare_logo.png")},
			  {value:"managed-care",logo:require("../assets/img/managedcare_logo.png")},
          ],
reportItems: [
  {
    name: "Labs, Test and Diagnostics section graphics",
    completion: "Ready for review",
    activeStat: false,
    hasImage: false,
    image: require('../assets/icons/diagnosis.png'),
    header: "Lab Results",
    detail: "Lorem ipsum Lorem ipsum dolor sit amet, nibh tamquam instructior ne ius, et habeo prompta percipit mel, platonem partiendo mnesarchum ius ex. Qui ullum verear percipitur at. Eam dicit dolor ad, mea cu labitur suavitate. Posse mentitum no mei. Id mel bonorum vivendum deserunt. Malorum legimus in vix. Ne mel aliquando pertinacia.Lorem ipsum dolor sit amet, nibh tamquam instructior ne ius, et habeo prompta percipit mel, platonem partiendo mnesarc.",
    subHeader: "Lipid Panel",
    subDetail: "A lipid Panel measures different parts of cholesterol in your blood. High cholesterol can lead to heart disease, so it is important to discuss abnormal test results with your physician.",
    reportGraphic: require('../assets/img/labstest.png'),
    
  },

],

  
          }
    },
  components: {
    HelloWorld
  },
  props: {
    placeholder: ''
  },
computed: {
	...mapGetters([
        // 'paymentSteps',
    ]),
  },
    methods: {
        onSubmit: function() {
            // Do some stuff here
            console.log("fire")
            history.back();
        }
    }
};
</script>
<style scoped>

/* bottom action buttons */
.bottom-action-buttons {
    margin: 3em auto;
    width: 60em;
}
.bottom-action-buttons-float-left {
    float: left;
}
.bottom-action-buttons-float-right {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

/* inline text input */

.inline-text-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em auto;
    width: 60em;
    grid-gap: 1em;
}
.inline-text-input-label h3, .inline-file-input-label h3 {
    background: #ffff;
    width: 100%;
    margin: 2px 0;
    box-sizing: border-box;
    padding: 0 0.6em;
    border-radius: 0.22em;
    text-align: left;
    color: var(--main-orange);
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.5em;
}


/* report pills */

.report-pills-container {
    list-style: none;
    margin: 1em 0;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
}
.report-pills-item {
    background: #ececec;
    line-height: 2.8em;
    font-size: 0.7rem;
    border-radius: 5em;
    display: grid;
    grid-template-columns: 1fr 2.7em;
    padding-left: 0.9em;
    box-sizing: border-box;
    text-align: left;
    font-weight: 600;
}

.remove-report-pill-button {
    background: var(--main-teal);
    box-sizing: border-box;
    margin: 0.3em;
    border-radius: 50%;
    outline: none;
    border: none;
}


/* inline analysis checkbox input */

.inline-analysis-checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    grid-gap: 2em;
    margin: 3em auto;
    width: 60em;
}
.inline-analysis-checkbox-item {
    display: grid;
    grid-template-columns: 2em 5fr;
    grid-gap: 0.5em;
}
.inline-analysis-checkbox-text {
    color: var(--main-teal);
    font-size: 0.9em;
    font-weight: 700;
    text-align: left;
}
.inline-analysis-checkbox-text span{
    font-weight: 500;
    color: var(--main-grey);
}




/* inline select input */


.inline-select-input select {
    font-size: 0.9rem;
    background-color: var(--main-teal);
    min-width: 7em;
    border: 2px solid var(--main-teal);
    color: #ffffff;
    outline: none;
    border-radius: 0.22em;
    font-weight: 700;
    line-height: 2.3em;
    height: 2.8em;
}



/* inline file input */

.inline-file-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em auto;
    width: 60em;
    grid-gap: 1em;
}
.inline-file-input {
    display: grid;
    grid-template-columns: 1fr 6em;
    grid-gap: 1em;
}

/* inline table */

.inline-table-container {
    width: 100%;
    border-radius: 0.3em;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 3em;
}
.inline-table-header {
    background: var(--main-navy);
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
}
.inline-table-header th {
    font-weight: 600;
}
.inline-table-container td, .inline-table-container th {
    line-height: 1.5em;
    text-align: left;
    padding: 0.5em;
}

.inline-table-data {
    font-size: 0.9rem;
    line-height: 1.5em;
}

.inline-table-data:nth-of-type(even) {
    background: #ececec;
}

.inline-table-data:nth-of-type(odd) {
    background: #e4e4e4;
}



/* report grid */

.report-grid-container {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.report-grid-item {
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}


.report-grid-item > input {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    z-index: 3;
    border: 2px solid #1000ff;
}
.report-grid-item > label {
    background: var(--main-teal);
    height: 11em;
    width: 100%;
    display: block;
    border-radius: 0.23em;
}




/* results-summary */

.results-summary-container {
    list-style: none;
    padding: 1em 0;
}
.results-summary-item {
    border: 2px solid var(--main-teal);
    border-radius: 0.23em;
    max-height: 39em;
    overflow-y: scroll;
    padding-bottom: 0em;
    margin-bottom: 1em;
}
.results-summary-item-header {
    display: grid;
    grid-template-columns: 2fr 2fr 10em;
    background: #fff;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.results-summary-item-header h4 {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 2.5em;
    text-align: left;
}
.results-summary-item-header p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2.5em;
}
.results-summary-item-header button {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 2.5em;
    display: grid;
    grid-template-columns: 1fr 2em;
    background: none;
    outline: none;
    border: none;
    position: relative;
}
.results-summary-item-header button > span{
    display: inline-flex;
    color: var(--main-teal);
    font-size: 0.9rem;
    line-height: 2.54em;
}
.results-summary-item-header button > svg{
    height: 0.8em;
    width: 0.8em;
    transform: rotate(0.25turn) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.results-summary-item-header button > svg.active {
    transform: rotate(-0.25turn) translateX(50%);
}
.results-summary-item-header button .show-more-icon-1 {
    fill: var(--main-teal);
}
.results-summary-sub-item-label {
    display: grid;
    grid-template-columns: 3em 1fr;
    position: relative;
    grid-gap: 0.5em;
}

.results-summary-sub-item-label > img {
    height: 1.9em;
    margin: auto;
}

.results-summary-sub-container {
    list-style: none;
    width: 81%;
    margin-left: 3.6em;
    text-align: left;
    margin-bottom: 2em;
    display: none;
}
.results-summary-sub-container.active {
    display: block;
}
.results-summary-sub-item {
    box-sizing: border-box;
    text-align: left;
    border: 2px solid var(--main-teal);
    border-radius: 0.23em;
    padding: 1.5em 2em;
    margin-top: 2em;
    position: relative;
}
.results-summary-sub-item h4 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-teal);
}
.results-summary-sub-item p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-top: 0.5em;
}
.results-summary-sub-item-content {
    padding-top: 2em;
    width: 70%;
    margin: auto;
}
.results-summary-sub-item-content img {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding-top: 2em;
}
.results-summary-sub-item-content h4 {
    color: var(--main-orange);
}
  /* summary flaot */
.results-summmary-float {    
    background: #ececec;
    width: 2em;
    position: absolute;
    top: 50%;
    right: -6.5em;
    list-style: none;
    transform: translateY(-50%);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 0.6em 0.3em;
    border-radius: 0.23em;
}
.results-summmary-float > button {
    background: transparent;
    border: none;
    outline: none;
}

	.result-float-icons-fill{fill:#64B9B2;}

.results-summmary-float svg {
    height: 1.4em;
}


/* default popup */
.default-popup-container {
    height: 23em;
    width: 60em;
    background: #fff;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em 1.5em;
    box-sizing: border-box;
    margin: auto;
    left: 21em;
    z-index: 11;
    border-radius: 0.23em;
}
.default-popup-container h4 {
    text-align: left;
    font-size: 1rem;
    color: var(--main-orange);
}


.default-popup-chat-grid {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    grid-gap: 1em;
    margin-top: 1em;
}
.default-popup-container textarea {
    font-size: 0.9rem;
    line-height: 1.5em;
    background: #ffff;
    width: 100%;
    border: 2px solid var(--main-teal);
    color: var(--main-navy);
    outline: none;
    box-sizing: border-box;
    padding: 0.6em;
    border-radius: 0.22em;
    height: 15em;
    margin-top: 1em;
}

.popup-bottom-buttons-container {
    padding: 1.5em 0;
}
.default-popup-chat-inputs-container textarea {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 12.3em;
}
.line-divder {
    border-left: 1px solid #dedede;
}
.default-popup-chat-inputs-container .bottom-action-buttons-float-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}


/* side chat */
.default-popup-side-chats-container {
    list-style: none;
    height: 17em;
    overflow: scroll;
}
.default-popup-side-chat-item {
    margin-top: 1em;
    background: #E2F0D9;
    max-width: 25em;
    font-size: 0.8rem;
    border-radius: 0.23em;
    text-align: left;
    padding: 0.7em;
    clear: both;
}

.default-popup-side-chat-meta {
    float: right;
    font-size: 0.7rem;
    color: #737373;
    display: block;
}
.default-popup-side-chat-clear {
    height: 1.3em;
    display: block;
}
.recieved-chat{
    float: right;
    background: #DAE3F3;
}
</style>
